<?xml version="1.0" encoding="UTF-8"?>
<!-- edited by Arne Broering (Institut fuer Geoinformatik) -->
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>52N OXF based Web Services</display-name>
	<description>This Web App includes Web Services build on top of the OX-Framework. Deployed at: @TIME_TAG@</description>
	<context-param>
		<!--defines the directory in which the log files will be stored. -->
		<param-name>logDir</param-name>
		<param-value>@LOGDIR@</param-value>
	</context-param>
	
    <!-- servlet WMS 
	<servlet>
		<servlet-name>WMS</servlet-name>
		<servlet-class>org.n52.oxf.ui.wms.WebMapServiceFrontend</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>/WEB-INF/wmsConfig.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>WMS</servlet-name>
		<url-pattern>/wms</url-pattern>
	</servlet-mapping> -->
  
    <!-- servlet REST-SOS -->
    <servlet>
      <servlet-name>REST-SOS</servlet-name>
      <servlet-class>org.n52.oxf.ui.restSos.RestSosFrontend</servlet-class>
      <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
      <servlet-name>REST-SOS</servlet-name>
      <url-pattern>/RESTful/sos*</url-pattern>
    </servlet-mapping>
</web-app>
