<configuration>

	<!-- refer to http://logback.qos.ch/manual/appenders.html -->

	<property name="logFile" value="${config.logger.fileappender.filepath}/${pom.artifactId}" />

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logFile}.log</file>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logFile}/%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		
		<encoder>
			<pattern>
				%date %level [%thread] [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.n52" level="${config.logger.level}" />
	<logger name="org.apache.commons.httpclient" level="WARN" />
	<!-- 
	<logger name="org.hibernate.hql" level="debug" />
	<logger name="org.hibernate.sql" level="debug" />
	-->
	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>