<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p %c{1}:%L %m%n"/>
		</layout>
	</appender>
	<!--
	FILTER
	Level: OFF, ERROR, WARN, INFO, DEBUG
	 -->
	<logger name="org.n52">
		<level value="TRACE" />
	</logger>
	<!-- 
	EXTERNAL - LIBS
	 -->
	<logger name="org.apache.commons.httpclient">
		<level value="ERROR" />
	</logger>
	<logger name="org.n52.oxf.util.IOHelper">
		<level value="ERROR" />
	</logger>
	<logger name="org.n52.oxf.serviceAdapters.sos.SOSAdapter">
		<level value="ERROR" />
	</logger>
	<logger name="com.sun.xml">
		<level value="ERROR" />
	</logger>
	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
	</root>
</log4j:configuration>